<div class="modal-header">
  <div class="row">
    <div class="col-md-6">
      <h4 class="modal-title">添加产品类型</h4>
    </div>
    <div class="col-md-6 text-right">
      <h4 class="modal-title"></h4>
    </div>
  </div>
</div>
<div class="modal-body">
    <!--start of alert block-->
    <div class="alert alert-{{alert.type}} alert-dismissable" style="text-align: center;" role="alert" ng-repeat="alert in alerts" type="{{alert.type}}">
        <button type="button" class="close" ng-click="closeAlert($index)">
        </button>
        {{alert.msg}}
    </div>
    <!--end of alert block-->
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3 text-right">
          <label class="control-label">产品类型名称：</label>
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" placeholder="输入新的产品类型名称" ng-model="productName">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="col-sm-offset-2 col-sm-8 text-right">
    <button ng-click="submit()" type="button" class="btn btn-success col-sm-offset-2 col-sm-4" ng-disabled="disableBtn">保存</button>
    <button ng-click="cancel()" type="button" class="btn btn-default col-sm-offset-2 col-sm-4">关闭</button>
  </div>
</div>
