<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxyq.mapper.watch_mapper.OtherMapper">

    <resultMap id="centerNumberMap" type="com.jxyq.model.watch.CenterNumber">
        <result column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="user" property="user"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <select id="selCenterNumber" parameterType="map" resultMap="centerNumberMap">
        select id, number, user, updatetime
        from center_number
        limit 1
    </select>

</mapper>
