<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxyq.mapper.watch_mapper.TestMapper">

    <resultMap id="selTestByIdMap" type="map">
        <result column="id" property="id" />
        <result column="text" property="text" />
    </resultMap>

    <select id="selTestById" parameterType="map" resultMap="selTestByIdMap">
        select id, text
        from test
        where id = #{id}
    </select>

</mapper>
