</br>
<div class="panel panel-default">
  <div class="alert alert-{{alert.type}} alert-dismissable" style="text-align: center;" role="alert" ng-repeat="alert in alerts" type="{{alert.type}}">
    <button type="button" class="close" ng-click="closeAlert($index)">
    </button>
    {{alert.msg}}
  </div>
  <!--end of alert block-->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" role="form">
          <div class="form-group has-error" id="user_name_group">
            <div class="col-md-10">
              <div class="col-md-4 text-right">
                <label class="control-label" for="user_passworld">原密码</label>
              </div>
              <div class="col-md-8">
                <div class="input-group input-group ">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" class="form-control" id="user_passworld" placeholder="原密码" ng-model="chPassword.password" ng-change="checkUserName()" value="" required="required">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <p class="help-block" id="user_name_helper">必填</p>
            </div>
          </div>
          <div class="form-group has-error" id="password_group">
            <div class="col-md-10">
              <div class="col-md-4 text-right">
                <label class="control-label" for="new_password">新密码</label>
              </div>
              <div class="col-md-8">
                <div class="input-group input-group ">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" class="form-control" id="new_password" placeholder="设置密码" ng-model="chPassword.new_password" ng-change="checkPassword()" required="required">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <p class="help-block" id="password_helper">必填</p>
            </div>
          </div>
          <div class="form-group has-error" id="password_repeat_group">
            <div class="col-md-10">
              <div class="col-md-4 text-right">
                <label class="control-label" for="identify_password">确认密码</label>
              </div>
              <div class="col-md-8">
                <div class="input-group input-group ">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" class="form-control" id="identify_password" placeholder="请确认密码" ng-model="chPassword.confirm_password" ng-change="checkPasswordRepeat()" required="required">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <p class="help-block" id="password_repeat_helper">必填</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-sm-offset-6 col-sm-4 text-right">
                    <button type="submit" class="btn btn-block btn-success" ng-click="saveNewPwd()" ng-disabled="!activeSave">保存</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
