</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">医生权限</h1>
  </div>
  <div class="panel-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form" ng-submit="queryDoctors()" id="querydoctor">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label class="control-label" for="start_date">
                              开始时间
                            </label>
                          </div>
                          <!--<div class="col-md-8">-->
                          <!--<div class="input-group">-->
                          <!--<input type="date" class="form-control" ng-model="query_date.registered_from" disabled datepicker-popup ng-model="dt" id="start_date"  is-open="form1_opened"   max-date="dt" datepicker-options="dateOptions" clear-text="清除" current-text="今天" close-text="关闭" />-->
                          <!--<span class="input-group-btn">-->
                          <!--<button type="button" class="btn btn-default" ng-click="open_form_1($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                          <!--</span>-->
                          <!--</div>-->
                          <!--</div>-->
                          <div class="col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="query_date.registered_from" is-open="opened" min-date="minDate" max-date="dt" datepicker-options="dateOptions" ng-required="true" clear-text="清除" current-text="今天" close-text="关闭" />
                              <span class="btn input-group-addon" ng-click="open($event)">
                                                                                        <i class="fa fa-calendar"></i>
                                                                                        </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label class="control-label" for="end_date">
                              结束时间
                            </label>
                          </div>
                          <div class="col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="query_date.registered_to" is-open="opened1" min-date="minDate" max-date="dt" datepicker-options="dateOptions" ng-required="true" clear-text="清除" current-text="今天" close-text="关闭" />
                              <span class="btn input-group-addon" ng-click="open1($event)">
                                                                                        <i class="fa fa-calendar"></i>
                                                                                        </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label class="control-label" for="reply_selected">
                              医生名称
                            </label>
                          </div>
                          <div class="col-md-8">
                            <div class="input-group">
                              <input type="text" ng-model="doctor.full_name" class="form-control" id="patient_phone" placeholder="医生名称">
                              <span class="input-group-btn">
                                                                                        <button type="button" ng-click="doctor.full_name = undefined" class="btn btn-default">
                                                                                            <span class="glyphicon glyphicon-trash"></span>
                              </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="form-group">
                        <button type="submit" form="querydoctor" class="btn btn-success col-md-offset-8 col-md-4">查询</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ui-grid="gridOptions" class="gridStyle" ui-grid-pagination>
    </div>
  </div>
</div>
